#### Creating the database client for Little Lemon

##### To create the database client for little lemon database, first install the mysql-connector-python API to enable functional interactions between the database and python. 

##### Upon installation, import the connector and instantiante a connection and cursor object.

In [13]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\declan.ac\appdata\local\programs\python\python311\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\declan.ac\appdata\local\programs\python\python311\lib\site-packages (from mysql-connector-python) (4.21.12)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [14]:
import mysql.connector as connector

In [15]:
connection = connector.connect(user="meta", password="HeyBoss001!", db="littlelemondb")

In [16]:
cursor = connection.cursor()

#### Showing all the tables within the database

In [34]:
show_tables_query = """SHOW TABLES;"""
cursor.execute(show_tables_query)

In [35]:
results = cursor.fetchall()
for table in results:
    print(table)

('addresses',)
('bookings',)
('customers',)
('drinks',)
('employees',)
('menu',)
('menuitems',)
('order_delivery',)
('order_qty_above_1',)
('orders',)

#### Creating the search query for customers with orders above $60

##### Retrieve all the relevant customer details (names and contacts) as well as the bill amount, implementing the appropriate table joins as shown below:

In [37]:
customers_with_orders_above_60 = """
SELECT CONCAT(c.First_name, " ", c.Last_Name) AS Full_Name, 
    c.Contact, c.Email, o.TotalCost AS BillAmount
FROM Customers AS c
    INNER JOIN Bookings AS B
        ON c.CustomerID = b.CustomerID
    INNER JOIN Orders AS o
    ON b.BookingID = o.BookingID
WHERE o.TotalCost > 60;
"""
# execute the query
cursor.execute(customers_with_orders_above_60)

# retrieve the results from the cursor
results = cursor.fetchall()
for customer in results:
    print(customer)

('Ndu Okeke', '09044232345', 'nduokeke@outlook.com', Decimal('86'))